.page-case-list{
  .case-list{
    margin-bottom: 100px;
    .main_image{
      width: 100%;
      height: 450px;
      @include bgSet;
      margin-bottom: 60px;
      img{
        display: none;
      }
    }

    .section_inner{
      .lead_txt{
        .comp-section-title{
          margin-bottom: 30px;
        }
        .sub_ttl{
          font-size: 24px;
          line-height: 1.88;
          margin-bottom: 40px;
        }
      }

      .search-wrapper{
        @include flexSet;
        align-items: center;

        .search{
          @include flexSet;
          align-items: center;

          p{
            font-size: 18px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.44;
            letter-spacing: 0.6px;
            color: #363636;
          }

          .search-line{
            border-left: solid 1px #d8d8d8;
            width: 1px;
            display: block;
            height: 70px;
            margin: 0px 32px;
          }

          .is_sp-flex{
            display: block;
          }

          .arrow{
            display: none;
          }
        }

        .search-type{
          margin-right: 33px;
          .type-wrapper{
            @include flexSet;
            align-items: center;

            .case-type{
              width: 50px;
              height: 35px;
              background-color: #acacac;
              border-radius: 50px;
              color: #fffff0;
              padding-top: 15px;
              text-align: center;
              display: block;
              margin-right: 13px;
              font-size: 20px;
              font-weight: normal;

              &:last-child{
                margin-right: 0px;
              }
            }

            .active{
              background-color: #cab599;
              color: #fffff0;
              width: 75px;
              font-size: 28px;
              padding-top: 22px;
              height: 53px;
            }
          }
        }

        .search-cat{
          .case-wrapper{
            @include flexSet;
            margin-left: 28px;

            a{
              padding: 13px 24px 14px 25px;
              border-radius: 5px;
              border: solid 1px #cab599;
              text-decoration: none;
              color: #cab599;
              font-size: 14px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: normal;
              letter-spacing: 1.08px;
              @include varela;

              .ja-text{
                font-size: 10px;
                font-weight: normal;
                font-style: normal;
                line-height: 1;
                letter-spacing: 0.33px;
                text-align: center;
                display: block;
                text-decoration: none;
                width: 100%;
                margin-top: 4px;
              }

              &:first-child{
                margin-right: 10px;
              }
            }

            .active{
              background-color: #cab599;
              color: #fffff0;
            }
          }
        }
      }

      // 事例一覧
      .is-list-page{
        margin-top: 106px;
        .project_item{
          margin-bottom: 21px;
        }
      }
    }
  }

  .projects-navigation{
    margin-top: 112px;

    .wp-pagenavi{
      @include flexSet;
      justify-content: center;

      a{
        padding: 13px 0px;
        width: 42px;
        border: solid 1px #cab599;
        color: #cab599;
        text-align: center;
      }

      .current{
        padding: 13px 0px;
        width: 42px;
        border: solid 1px #cab599;
        color: #ffffff;
        text-align: center;
        background-color: #cab599;
      }

      .nextpostslink ,.previouspostslink{
        position: relative;

        &::after,&::before{
          content: '';
          display: block;
          width: 8px;
          height: 2px;
          background-color: #cab599;
          position: absolute;
          left: 43%;
        }

        &::after{
          transform: rotate(-45deg);
          top: 42%;
        }
        &::before{
          transform: rotate(45deg);
          top: 52%;
        }
      }

      .nextpostslink{
        transform: rotate(180deg);
      }

      .extend{
        padding: 13px 0px;
        width: 42px;
        border: solid 1px #cab599;
        color: #cab599;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 1360px){

  .page-case-list{
    .case-list{

      .section_inner{

        .search-wrapper{

          .search-type{
            margin-bottom: 10px;
          }
        }
      }
    }
  }

}

@media screen and (max-width: 720px){
  .page-case-list{
    .case-list{
      margin-bottom: 58px;
      .main_image{
        width: 100%;
        height: 335px;
        @include bgSet;
        margin-bottom: 41px;
        img{
          display: none;
        }
      }

      .section_inner{
        .lead_txt{
          .comp-section-title{
            margin-bottom: 30px;
          }
          .sub_ttl{
            font-size: 4.8vw;
            line-height: 1.88;
            margin-bottom: 40px;
          }
        }

        .search-wrapper{
          display: block;

          .search{
            display: block;
            margin-bottom: 6px;
            padding: 8px 20px 21px 16px;
            background-color: #f9f6f3;
            width: calc( 100% - 36px);

            p{
              font-size: 4.8vw;
              margin-bottom: 20px;
            }

            .search-line{
              display: none;
            }

            .is_sp-flex{
              @include flexSet;
              justify-content: space-between;
              margin-top: 15px;
            }

            .arrow{
              display: block;
              position: relative;
              width: 13px;
              height: 13px;

              &::after{
                content: '';
                position: absolute;
                transform: rotate(45deg);
                width: 8px;
                height: 1px;
                display: block;
                background-color: #363636;
                top: 6px;
                right: 0px;
              }
              &::before{
                content: '';
                position: absolute;
                transform: rotate(-45deg);
                width: 8px;
                height: 1px;
                display: block;
                background-color: #363636;
                top: 6px;
                left: 0px;
              }
            }
          }

          .search-type{
            margin-right: 33px;
            .type-wrapper{
              @include flexSet;
              align-items: center;

              .case-type{
                width: 38px;
                height: 27px;
                background-color: #acacac;
                border-radius: 50px;
                color: #fffff0;
                padding-top: 11px;
                text-align: center;
                display: block;
                margin-right: 13px;
                font-size: 15.4px;
                font-weight: normal;

                &:last-child{
                  margin-right: 0px;
                }
              }

              .active{
                background-color: #cab599;
                color: #fffff0;
                width: 58px;
                font-size: 21.5px;
                padding-top: 19px;
                height: 39px;
              }
            }
          }

          .search-cat{
            padding: 8px 15px 17px 15px;
            width: calc( 100% - 30px);
            .case-wrapper{
              margin-left: 0px;

              a{
                width: calc((100% / 2) - 10px);
                text-align: center;
                display: block;
                font-size: 3.7vw;
                background-color: #ffffff;
                padding: 13px 0px 14px;

                .ja-text{
                  font-size: 10px;
                  font-weight: normal;
                  font-style: normal;
                  line-height: 1;
                  letter-spacing: 0.33px;
                  text-align: center;
                  display: block;
                  text-decoration: none;
                  width: 100%;
                  margin-top: 4px;
                }

                &:first-child{
                  margin-right: 10px;
                }
              }

              .active{
                background-color: #cab599;
                color: #fffff0;
              }
            }
          }
        }

        // 事例一覧
        .is-list-page{
          margin-top: 45px;
          .project_item{
            margin-bottom: 21px;
          }
        }
      }

      .projects-navigation{
        margin-top: 59px;

        .wp-pagenavi{

          a{
            padding: 12px 0px;
            width: 38px;
          }

          .current{
            padding: 12px 0px;
            width: 38px;
          }

          .extend{
            padding: 12px 0px;
            width: 38px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 375px){
  .page-case-list{
    .case-list{
      .section_inner{

        .search-wrapper{

          .search-type{
            .type-wrapper{

              .case-type{
                font-size: 4vw;
              }

              .active{
                font-size: 5.6vw;
              }
            }
          }
        }
      }
    }
  }
}