.page-contact{
  .section-contact{
    margin-bottom: 100px;
    .main_image{
      width: 100%;
      height: 450px;
      @include bgSet;
      margin-bottom: 60px;
      img{
        display: none;
      }
    }

    .section_inner{
      .lead_txt{
        margin-bottom: 50px;
        .comp-section-title{
          margin-bottom: 30px;
        }
        .sub_ttl{
          font-size: 20px;
          line-height: 2;
          letter-spacing: 0.56px;
          font-weight: normal;
        }
      }

      .contact-form{
        width: 100%;
        max-width: 860px;
        .form_content{
          display: block;
          margin-bottom: 26px;

          &__add-bottom{
            margin-bottom: 80px;
          }

          label{
            @include flexSet();
            justify-content: space-between;
            margin-bottom: 29px;
            font-weight: normal;
            font-size: 20px;

            span{
              display: block;
              border-radius: 5px;
              border: solid 1px #cab599;
              color: #cab599;
              width: 79px;
              text-align: center;
              padding: 8.5px 0px;
              font-size: 16px;
              letter-spacing: 0.94px;
              @include tsukushi-b;
              font-weight: normal;
            }

            .required{
              background-color: #cab599;
              color: #fff;
            }
          }

          input, textarea, select{
            display: block;
            width: 100%;
            padding: 15px 22px 12px;
            background-color: #f4f4f4;
            border: none;
            border-radius: 10px;
            color: #303030;
          }

          .select-cover{
            position: relative;
            cursor: pointer;

            &::before{
              content: '▼';
              font-size: 16px;
              color: #00371f;
              display: block;
              width: 19px;
              height: 16px;
              position: absolute;
              right: 20px;
              top: 34%;
              z-index: 1;
            }
          }

          textarea{
            height: 180px;
          }
        }

        .contact_button{
          border-radius: 27.5px;
          background-color: #bb9f7b;
          max-width: 500px;
          padding: 15px 0px;
          color: #fff;
          font-size: 20px;
          letter-spacing: 0.42px;
          display: block;
          width: 80%;
          margin: 0 auto;
          @include tsukushi-b;
          font-weight: normal;
        }
      }
    }
  }
}

@media screen and(max-width: 720px) {
  .page-contact{
    .section-contact{
      margin-bottom: 50px;
      .main_image{
        width: 100%;
        height: 335px;
        @include bgSet;
        margin-bottom: 41px;
        img{
          display: none;
        }
      }

      .section_inner{
        .lead_txt{
          margin-bottom: 38px;
          .comp-section-title{
            margin-bottom: 20px;
          }
          .sub_ttl{
            font-size: 4.3vw;
            line-height: 1.88;
            margin-bottom: 40px;
          }
        }

        .contact-form{
          width: 100%;
          max-width: 860px;
          .form_content{
            display: block;
            margin-bottom: 34px;

            &__add-bottom{
              margin-bottom: 48px;
            }

            label{
              font-size: 16px;
              margin-bottom: 14px;

              span{
                font-size: 12px;
                width: 47px;
                padding: 8px 0px;
              }
            }
          }
        }
        .contact_button{
          font-size: 20px;
          span{
            display: none;
          }
        }
      }
    }
  }
}