.comp-wakuwaku-image{
  .slick-slider{
    overflow: hidden;
    .slick-arrow{
      display: none !important;
    }
    .slick-list{
      padding: 0 !important;
      .slick-track{
        @media screen and (min-width: 721px){
          @include flexSet;
        }
      }
      .item_box{
        width: 30.33333333% !important;
        margin-right: 4%;
        box-sizing: border-box;
        position: relative;
        @media screen and (min-width: 721px){
          float: none !important;
        }
        &:nth-of-type(3n){
          margin-right: 0;
        }
        .img_wrap{
          display: block;
          overflow: hidden;
          border-radius: 50%;
          border: 1px solid $basicBaige;
          img{
            border-radius: 50%;
          }
        }
        .txt_wrap{
          margin-top: 30px;
          position: relative;
          z-index: 10;
          .wakuwaku_ttl{
            display: block;
            width: 90%;
            margin: 0 auto 15px;
            background: $basicBaige;
            color: #fff;
            border-radius: 100px;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 1px;
            padding: 10px 0;
            text-align: center;
          }
          .wakuwaku_desc{
            text-align: center;
            font-size: 16px;
            line-height: 2;
            color: #363636;
            span{
              display: block;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1150px){
  .comp-wakuwaku-image{
    .slick-slider{
      .slick-list{
        .item_box{
          .txt_wrap{
            .wakuwaku_desc{
              text-align: left;
              font-size: 14px;
              span{
                display: inline;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 720px){
  .comp-wakuwaku-image{
    width: 100%;
    .slick-slider{
      overflow: visible;
      .slick-list{
        width: 70vw !important;
        margin: 0 auto;
        padding: 0 !important;
        .item_box{
          width: 70vw !important;
          padding: 0 15px;
          margin-right: 0%;
          .txt_wrap{
            margin-top: 30px;
            .wakuwaku_ttl{
              width: 90%;
              margin: 0 auto 20px;
              font-size: 18px;
              padding: 10px 0;
            }
            .wakuwaku_desc{
              text-align: center;
              font-size: 15px;
              line-height: 2;
              color: #363636;
              span{
                display: block;
              }
            }
          }
        }
      }
    }
  }
}
