body {
	font-size: 16px;
  line-height: 1;
	letter-spacing: 0.07em;
  color: $black01;
	background: #fff;
	font-family: "FOT-筑紫A丸ゴシック Std D", 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: bold;
	letter-spacing: 0.03em;
	counter-reset: number 0; 
}
body.bind {
	@media screen and (min-width: 981px){
		position: fixed;
	  width: 100%;
	  height: 100vh;
	  overflow: hidden;
	}
}
body.bind2 {
	position: fixed;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
article{
	width: calc(100vw - 270px);
	overflow: hidden;
	min-height: 100vh;
	@media screen and (max-width: 1150px){
		width: calc(100vw - 220px);
	}
	@media screen and (max-width: 980px){
		width: 100vw;
	}
	.comp-loading-bar{
		opacity: 0;
		pointer-events: none;
		transition: opacity .3s;
	}
	section{
		transition: opacity .5s;
		oapcity: 1;
	}
	&.loading{
		position: relative;
		left:0;
		right:0;
		top:0;
		width: 100%;
		min-height: 100vh;
		overflow: hidden;
		.comp-loading-bar{
			opacity: 1;
			pointer-events: all;
		}
		section{
			opacity: 0;
		}
	}
}
section{
	.section_inner{
		@include waku;
		&.border{
			padding-bottom: 100px;
      border-bottom: 1px solid #d8d8d8;
			margin-bottom: 100px;
			@media screen and (max-width: 1150px){
				padding-bottom: 80px;
				margin-bottom: 80px;
			}
			@media screen and (max-width: 1150px){
				padding-bottom: 60px;
				margin-bottom: 60px;
				border-bottom: 0px;
				position: relative;
				&::after{
					display: block;
					content: "";
					position: absolute;
					bottom:0;
					left: -6vw;
					right: -6vw;
					margin: auto;
					width: 100vw;
					height: 1px;
					background: #d8d8d8;
				}
			}
		}
	}
}

button{
	font-family: inherit;
	background: transparent;
	appearance: none;
	border: none;
	&:focus{
		outline: none;
	}
}

.flex_column2{
	@include flexSet;
	justify-content: space-between;
	.flex_item{
		width: 46.5%;
	}
	@media screen and (max-width: 980px){
		display: block;
		.flex_item{
			width: 100%;
		}
	}
}
.flex_column3{
	@include flexSet;
	justify-content: space-between;
	.flex_item{
		width: 28.9%;
	}
	@media screen and (max-width: 720px){
		display: block;
		.flex_item{
			width: 100%;
		}
	}
}
